@import "~bpk-stylesheets/base.scss";

.loader {
	width: 200px;
	height: 200px;
  margin: 0 auto;
  display: block;
}

body {
	background-color: #E5EFF1;
}

.itineraries {
  width: 100%;
  margin: 0 auto;
}
