.carrier-logo {
	width: 40px;
	height: 40px;
	border-radius: 5px;
}

.leg {
	margin-bottom: 10px;
	display:flex;
  flex-direction: row;
	width:100%;
}

.leg-column-1 {
  margin-right: 10px;
}

.leg-column-2 {
	 flex-grow: 2;
}

.leg-column img {
	align-content: right;
}

.leg-duration {
	text-align: right;
}

.leg-time {
	margin-left: 10px;
}

.leg-duration, .leg-time {
	display: inline-block;
}

.leg-duration span, .leg-time span {
	display: block;
}

.time {
	font-weight: bold;
	font-size: 16pt;
}

.location {
	font-size: 16pt;
}

.location, .duration {
	color: #a2a4ac;
}

.direct-flight {
	color: #00bd68;
}

.non-direct-flight {
	color: #ff5452;
}

.arrow {
  line-height: 55px;
}

.day-diff {
  display: inline !important;
  font-size: 12pt;
  font-weight: normal;
}