.itinerary {
	background: white;
	padding: 10px;
	margin: 10px;
	border-radius: 6px;
	box-shadow: 0px 2px 6px #C5C3CB;
}

.select-button {
	text-decoration: none;
	color: white;
	background-color: #00D775;
	padding: 18px 50px;
	font-size: 20pt;
	border-radius: 80px;
	float: right;
}

.price-info {
	display: inline-block;
}

.price-info span {
	display: block;
}

.price {
	font-size: 24pt;
	font-weight: bold;
}

.agent {
	font-size: 16pt;
	color: #a2a4ac;
	margin-top: 10px;
}

.booking-info {
	display:-moz-box;
	display:-webkit-box;
	display:box;
	-moz-box-orient:horizontal;
	-webkit-box-orient:horizontal;
	box-orient:horizontal;
	width: 100%;
}

.booking-info-column {
	margin-top: 20px;
	display: block;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
}
